extends ../layouts/main

block content
    h1= title
    p
        | Hello World!
    include ../blocks/example
    div(style="margin: 0 auto;width: 300px;")
        img(src="pictures/tux.svg", style="width: 100%;")