doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="css/style.css")
    body
        .pw
            .pw__i
                block content
        // Scripts
        script(src="js/common.js")